<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="intfwswsResiDispatcherEndpoint1Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eai01.ppr.fra.bnppi.priv:7290/WS/ResiDispatcher"
                binding="basicHttpBinding" bindingConfiguration="intfwswsResiDispatcherEndpoint1Binding"
                contract="GestcomWebService.portType" name="intfwswsResiDispatcherEndpoint1" />
        </client>
    </system.serviceModel>
</configuration>